body {
    background-image: url("https://github.com/10javimoreno/10javimoreno.github.io/blob/main/images/bg.png?raw=true");
}

h1 {
    border-top: 2px solid #017bab;
    text-align: auto;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4e4d4d;
}

table {
    background-image: url("https://github.com/10javimoreno/10javimoreno.github.io/blob/main/images/code.jpg?raw=true");
}
